data
.ipynb_checkpoints/
__pycache__/
split_seq_OAI/
*.jpg
*.dcm
pykneer-yg/original
pykneer-yg/preprocessed
pykneer-yg/vesmask
pykneer-yg/reference/newsubject/*
pykneer-yg/registered/
pykneer-yg/segmented/
pykneer-yg/reference/longitudinal/
newsubject/
pykneer-yg/reference/centerline/
pykneer-yg/centerline/

